<array>
  <dict>
    <key>title</key>
    <string>静夜思</string>
    <key>nz</key>
    <array>
      <integer>5</integer>
      <integer>11</integer>
      <integer>17</integer>
      <integer>23</integer>
    </array>
    <key>pom</key>
    <array>
      <string>床</string>
      <string>前</string>
      <string>明</string>
      <string>月</string>
      <string>光</string>
      <string>，</string>
      <string>疑</string>
      <string>是</string>
      <string>地</string>
      <string>上</string>
      <string>霜</string>
      <string>。</string>
      <string>举</string>
      <string>头</string>
      <string>望</string>
      <string>明</string>
      <string>月</string>
      <string>，</string>
      <string>低</string>
      <string>头</string>
      <string>思</string>
      <string>故</string>
      <string>乡</string>
      <string>。</string>
    </array>
  </dict>
  <dict>
    <key>nz</key>
    <array>
      <integer>1</integer>
      <integer>3</integer>
      <integer>7</integer>
      <integer>15</integer>
      <integer>21</integer>
    </array>
    <key>pom</key>
    <array>
      <string>山</string>
      <string>一</string>
      <string>程</string>
      <string>，</string>
      <string>水</string>
      <string>一</string>
      <string>程</string>
      <string>，</string>
      <string>身</string>
      <string>向</string>
      <string>榆</string>
      <string>关</string>
      <string>那</string>
      <string>畔</string>
      <string>行</string>
      <string>，</string>
      <string>夜</string>
      <string>深</string>
      <string>千</string>
      <string>帐</string>
      <string>灯</string>
      <string>。</string>
    </array>
  </dict>
  <dict>
    <key>nz</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>3</integer>
      <integer>4</integer>
      <integer>5</integer>
      <integer>9</integer>
      <integer>11</integer>
      <integer>17</integer>
      <integer>23</integer>
    </array>
    <key>pom</key>
    <array>
      <string>鹅</string>
      <string>、</string>
      <string>鹅</string>
      <string>、</string>
      <string>鹅</string>
      <string>，</string>
      <string>曲</string>
      <string>项</string>
      <string>向</string>
      <string>天</string>
      <string>歌</string>
      <string>。</string>
      <string>白</string>
      <string>毛</string>
      <string>浮</string>
      <string>绿</string>
      <string>水</string>
      <string>，</string>
      <string>红</string>
      <string>掌</string>
      <string>拨</string>
      <string>清</string>
      <string>波</string>
      <string>。</string>
    </array>
  </dict>
</array>
