<array>
<dict>
<key>nz</key>
<array>
<integer>0</integer>
<integer>1</integer>
<integer>2</integer>
<integer>10</integer>
<integer>11</integer>
<integer>12</integer>
</array>
<key>sentence</key>
<array>
<string>上</string>
<string>联</string>
<string>：</string>
<string>五</string>
<string>湖</string>
<string>四</string>
<string>海</string>
<string>皆</string>
<string>春</string>
<string>色</string>
<string>下</string>
<string>联</string>
<string>：</string>
<string>万</string>
<string>水</string>
<string>千</string>
<string>山</string>
<string>尽</string>
<string>得</string>
<string>辉</string>
</array>
<key>source</key>
<string>横批：万象更新</string>
</dict>
</array>