<array>
<dict>
<key>nz</key>
<array>
<integer>10</integer>
<integer>18</integer>
</array>
<key>sentence</key>
<array>
<string>君</string>
<string>不</string>
<string>见</string>
<string>黄</string>
<string>河</string>
<string>之</string>
<string>水</string>
<string>天</string>
<string>上</string>
<string>来</string>
<string>，</string>
<string>奔</string>
<string>流</string>
<string>到</string>
<string>海</string>
<string>不</string>
<string>复</string>
<string>回</string>
<string>。</string>
</array>
<key>source</key>
<string>《将进酒·君不见黄河之水天上来》</string>
</dict>
</array>