<array>
<dict>
<key>nz</key>
<array>
<integer>5</integer>
<integer>10</integer>
</array>
<key>sentence</key>
<array>
<string>逝</string>
<string>者</string>
<string>如</string>
<string>斯</string>
<string>夫</string>
<string>！</string>
<string>不</string>
<string>舍</string>
<string>昼</string>
<string>夜</string>
<string>。</string>
</array>
<key>source</key>
<string>《论语·子罕篇》</string>
</dict>
</array>