<array>
<dict>
<key>nz</key>
<array>
<integer>4</integer>
<integer>5</integer>
</array>
<key>sentence</key>
<array>
<string>草</string>
<string>船</string>
<string>借</string>
<string>箭</string>
<string>—</string>
<string>—</string>
<string>满</string>
<string>载</string>
<string>而</string>
<string>归</string>
</array>
<key>source</key>
<string></string>
</dict>
</array>