<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,576}</string>
                <key>spriteSourceSize</key>
                <string>{1024,576}</string>
                <key>textureRect</key>
                <string>{{0,0},{1024,576}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,86}</string>
                <key>spriteSourceSize</key>
                <string>{157,86}</string>
                <key>textureRect</key>
                <string>{{812,576},{157,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button1c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,86}</string>
                <key>spriteSourceSize</key>
                <string>{157,86}</string>
                <key>textureRect</key>
                <string>{{655,576},{157,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button1f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,86}</string>
                <key>spriteSourceSize</key>
                <string>{157,86}</string>
                <key>textureRect</key>
                <string>{{498,576},{157,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,87}</string>
                <key>spriteSourceSize</key>
                <string>{166,87}</string>
                <key>textureRect</key>
                <string>{{332,576},{166,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button2c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,87}</string>
                <key>spriteSourceSize</key>
                <string>{166,87}</string>
                <key>textureRect</key>
                <string>{{166,576},{166,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button2f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,87}</string>
                <key>spriteSourceSize</key>
                <string>{166,87}</string>
                <key>textureRect</key>
                <string>{{0,576},{166,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fragment.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,39}</string>
                <key>spriteSourceSize</key>
                <string>{35,39}</string>
                <key>textureRect</key>
                <string>{{1024,0},{35,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,20}</string>
                <key>spriteSourceSize</key>
                <string>{12,20}</string>
                <key>textureRect</key>
                <string>{{1024,39},{12,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1014,576},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{969,621},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,35}</string>
                <key>spriteSourceSize</key>
                <string>{50,35}</string>
                <key>textureRect</key>
                <string>{{1014,621},{50,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{969,576},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>queScene.png</string>
            <key>size</key>
            <string>{1064,666}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e83c6645c044e5c046660861375ab56a:c6a271b239f0d91960afdb4a3d4e3312:2551a2bec8637d5dc78b44fb4137bf82$</string>
            <key>textureFileName</key>
            <string>queScene.png</string>
        </dict>
    </dict>
</plist>
